In [1]:
import pandas
csv_path = '../datas/2-InternetConnectivity.csv'
raw_data = pandas.read_csv(csv_path)

In [2]:
raw_data.shape

(2894, 36)

In [8]:
selected_cols = raw_data[['ZCTA5', 'modzcta', 'Percent of Households with No Internet Access', 'Total households']]
selected_cols.dropna(inplace=True)

In [25]:
selected_cols['households no internet'] = selected_cols['Percent of Households with No Internet Access'] * selected_cols['Total households'] / 100
selected_cols

,ZCTA5,modzcta,Percent of Households with No Internet Access,Total households,households no internet
1,10473,10473,13.9,1328,184.592
2,10473,10473,12.4,1963,243.412
3,10473,10473,21.2,1982,420.184
4,10454,10454,10.9,929,101.261
5,10455,10455,10.9,929,101.261
...,...,...,...,...,...
2889,10303,10303,6.9,1964,135.516
2890,10314,10314,6.9,1964,135.516
2891,10303,10303,53.2,1055,561.260
2892,10303,10303,35.3,1670,589.510
2893,10303,10303,13.0,440,57.200

In [39]:
merged = pandas.DataFrame(columns=['modzcta', 'perc'])
merged

Empty DataFrame
Columns: [modzcta, perc]
Index: []

In [35]:
tmpseries = selected_cols[selected_cols['modzcta'] == 10473]
tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
tmpdic['modzcta'] = 10473
tmpdic['perc'] = tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
tmpdic

{'modzcta': 10473, 'perc': 0.20564059307133015}

In [40]:
for modzcta in list(selected_cols['modzcta'].unique()):
    tmpdic = {}
    tmpseries = selected_cols[selected_cols['modzcta'] == modzcta]
    tmpdic['modzcta'] = modzcta
    tmpdic['perc'] = tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
    merged = merged.append(tmpdic, ignore_index=True)
merged

     modzcta      perc
0    10473.0  0.205641
1    10454.0  0.330787
2    10455.0  0.276181
3    10472.0  0.257344
4    10451.0  0.276997
..       ...       ...
172  10312.0  0.101062
173  10314.0  0.119923
174  10307.0  0.115211
175  10309.0  0.118634
176  10303.0  0.218108

[177 rows x 2 columns]

In [41]:
merged.to_csv('../datas/2-InternetMerged.csv', index=False)

111

# internet

In [1]:
import pandas

In [2]:
data = pandas.read_csv('../datas/0-InternetEducation.csv')
data.head()

,Object ID,ZCTA5,modzcta,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Total Population 25 Years and Over in Households,...,Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer with a Broadband Internet Subscription,Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer without an Internet Subsription,Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have No Computer,Population 25 Years and Over in Households that Have No Computer,Percent of Population 25 Years and Over in Households that Have No Computer,Percent of Population 25 Years and Over who are Not High School Graduates in Households that Have No Computer,Percent of Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have No Computer,Percent of Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have No Computer,Shape Area,Shape Length
0,48167,11370,11370,36005000100,1677210,1035011,Census Tract 1,New York,Bronx County,0,...,0,0,0,0,NaN,NaN,NaN,NaN,2.733874e+06,6859.256905
1,48168,10473,10473,36005000200,479463,852046,Census Tract 2,New York,Bronx County,3044,...,664,44,0,164,5.4,14.0,3.7,0.0,8.316785e+05,5722.479186
2,48169,10473,10473,36005000400,770689,690794,Census Tract 4,New York,Bronx County,3947,...,1105,60,4,387,9.8,47.8,6.8,0.3,1.558096e+06,9823.218030
3,48170,10473,10473,36005001600,485079,0,Census Tract 16,New York,Bronx County,3441,...,582,24,25,446,13.0,27.1,9.6,4.0,8.478126e+05,3898.163232
4,48171,10454,10454,36005001900,1668013,1143135,Census Tract 19,New York,Bronx County,1437,...,335,11,10,69,4.8,5.7,5.4,2.8,2.859324e+06,12087.013655

In [3]:
data.columns

Index(['Object ID', 'ZCTA5', 'modzcta', 'Geographic Identifier - FIPS Code',
       'Area of Land (Square Meters)', 'Area of Water (Square Meters)', 'Name',
       'State', 'County', 'Total Population 25 Years and Over in Households',
       'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households',
       'All Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households that Have a Computer',
       'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households that Have a Computer with Dial-up Internet Subscription Alone',
       'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households that Have a Computer with a Broadband Internet Subscription',
       'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households that Have a Computer without an Internet Subscription',
       'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households that Have No Computer',
       'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households',
       'All Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have a Computer',
       'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have a Computer with Dial-up Internet Subscription Alone',
       'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have a Computer with a Broadband Internet Subscription',
       'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have a Computer without an Internet Subscription',
       'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have No Computer',
       'Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households',
       'All Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer',
       'Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer with Dial-up Internet Subscription Alone',
       'Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer with a Broadband Internet Subscription',
       'Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have a Computer without an Internet Subsription',
       'Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have No Computer',
       'Population 25 Years and Over in Households that Have No Computer',
       'Percent of Population 25 Years and Over in Households that Have No Computer',
       'Percent of Population 25 Years and Over who are Not High School Graduates in Households that Have No Computer',
       'Percent of Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households that Have No Computer',
       'Percent of Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households that Have No Computer',
       'Shape Area', 'Shape Length'],
      dtype='object')

In [4]:
data = data[['modzcta', 'Total Population 25 Years and Over in Households', 'Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households', 'Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate\'s Degree in Households', 'Population 25 Years and Over who Hold a Bachelor\'s Degree or Higher in Households']]

In [5]:
data.head()

,modzcta,Total Population 25 Years and Over in Households,Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households,Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households,Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households
0,11370,0,0,0,0
1,10473,3044,757,1579,708
2,10473,3947,473,2305,1169
3,10473,3441,868,1942,631
4,10454,1437,247,834,356

In [9]:
data.dtypes

modzcta                                                                                                                                       int64
Total Population 25 Years and Over in Households                                                                                              int64
Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households                                                 int64
Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate's Degree in Households    int64
Population 25 Years and Over who Hold a Bachelor's Degree or Higher in Households                                                             int64
dtype: object

In [21]:
merged = pandas.DataFrame(columns=['modzcta', 'no highschool', 'highschool', 'college'])
for mod in data['modzcta'].unique():
    tmp = {}
    ser = data[data['modzcta'] == mod]
    tmp['modzcta'] = mod
    tmp['no highschool'] = ser['Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households'].sum() / ser['Total Population 25 Years and Over in Households'].sum()
    tmp['highschool'] = ser['Population 25 Years and Over who are High School Graduates (Includes Equivalency) or Have Some College or Associate\'s Degree in Households'].sum() / ser['Total Population 25 Years and Over in Households'].sum()
    tmp['college'] = ser['Population 25 Years and Over who Hold a Bachelor\'s Degree or Higher in Households'].sum() / ser['Total Population 25 Years and Over in Households'].sum()
    merged = merged.append(tmp, ignore_index=True)
merged

     modzcta  no highschool  highschool   college
0    11370.0       0.186111    0.535966  0.277922
1    10473.0       0.241479    0.578220  0.180301
2    10454.0       0.414125    0.499723  0.086152
3    10455.0       0.366078    0.496865  0.137058
4    10472.0       0.373730    0.502283  0.123987
..       ...            ...         ...       ...
172  10312.0       0.068602    0.593879  0.337519
173  10314.0       0.097319    0.555236  0.347445
174  10307.0       0.073383    0.565547  0.361071
175  10309.0       0.075594    0.573091  0.351315
176  10303.0       0.189567    0.563822  0.246611

[177 rows x 4 columns]

In [13]:
data[data['modzcta'] == 11370]['Total Population 25 Years and Over in Households'].sum()

26511

In [14]:
data[data['modzcta'] == 11370]['Population 25 Years and Over With Less Than High School Graduate or Equivalency in Households'].sum()

4934

In [15]:
4934 / 26511

0.18611142544604126

In [23]:
wrong = pandas.read_csv('../datas/2-InternetMerged.csv')
wrong.head()

   modzcta      perc  no highschool  highschool   college
0    10473  0.205641       0.186111    0.535966  0.277922
1    10454  0.330787       0.241479    0.578220  0.180301
2    10455  0.276181       0.414125    0.499723  0.086152
3    10472  0.257344       0.366078    0.496865  0.137058
4    10451  0.276997       0.373730    0.502283  0.123987

In [24]:
wrong.drop(columns=['no highschool', 'highschool', 'college'], inplace=True)
wrong.head()

   modzcta      perc
0    10473  0.205641
1    10454  0.330787
2    10455  0.276181
3    10472  0.257344
4    10451  0.276997

In [25]:
merged = merged.join(wrong.set_index('modzcta'), on='modzcta')
merged

     modzcta  no highschool  highschool   college      perc
0    11370.0       0.186111    0.535966  0.277922  0.146145
1    10473.0       0.241479    0.578220  0.180301  0.205641
2    10454.0       0.414125    0.499723  0.086152  0.330787
3    10455.0       0.366078    0.496865  0.137058  0.276181
4    10472.0       0.373730    0.502283  0.123987  0.257344
..       ...            ...         ...       ...       ...
172  10312.0       0.068602    0.593879  0.337519  0.101062
173  10314.0       0.097319    0.555236  0.347445  0.119923
174  10307.0       0.073383    0.565547  0.361071  0.115211
175  10309.0       0.075594    0.573091  0.351315  0.118634
176  10303.0       0.189567    0.563822  0.246611  0.218108

[177 rows x 5 columns]

In [27]:
merged = merged.astype({'modzcta': 'int64'})
merged

     modzcta  no highschool  highschool   college      perc
0      11370       0.186111    0.535966  0.277922  0.146145
1      10473       0.241479    0.578220  0.180301  0.205641
2      10454       0.414125    0.499723  0.086152  0.330787
3      10455       0.366078    0.496865  0.137058  0.276181
4      10472       0.373730    0.502283  0.123987  0.257344
..       ...            ...         ...       ...       ...
172    10312       0.068602    0.593879  0.337519  0.101062
173    10314       0.097319    0.555236  0.347445  0.119923
174    10307       0.073383    0.565547  0.361071  0.115211
175    10309       0.075594    0.573091  0.351315  0.118634
176    10303       0.189567    0.563822  0.246611  0.218108

[177 rows x 5 columns]

In [28]:
merged.to_csv('../datas/2-InternetMerged.csv', index=False)