In [1]:
import pandas
csv_path = '../datas/2-InternetConnectivity.csv'
raw_data = pandas.read_csv(csv_path)

In [2]:
raw_data.shape

(2894, 36)

In [8]:
selected_cols = raw_data[['ZCTA5', 'modzcta', 'Percent of Households with No Internet Access', 'Total households']]
selected_cols.dropna(inplace=True)

In [25]:
selected_cols['households no internet'] = selected_cols['Percent of Households with No Internet Access'] * selected_cols['Total households'] / 100
selected_cols

,ZCTA5,modzcta,Percent of Households with No Internet Access,Total households,households no internet
1,10473,10473,13.9,1328,184.592
2,10473,10473,12.4,1963,243.412
3,10473,10473,21.2,1982,420.184
4,10454,10454,10.9,929,101.261
5,10455,10455,10.9,929,101.261
...,...,...,...,...,...
2889,10303,10303,6.9,1964,135.516
2890,10314,10314,6.9,1964,135.516
2891,10303,10303,53.2,1055,561.260
2892,10303,10303,35.3,1670,589.510
2893,10303,10303,13.0,440,57.200

In [39]:
merged = pandas.DataFrame(columns=['modzcta', 'perc'])
merged

Empty DataFrame
Columns: [modzcta, perc]
Index: []

In [35]:
tmpseries = selected_cols[selected_cols['modzcta'] == 10473]
tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
tmpdic['modzcta'] = 10473
tmpdic['perc'] = tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
tmpdic

{'modzcta': 10473, 'perc': 0.20564059307133015}

In [40]:
for modzcta in list(selected_cols['modzcta'].unique()):
    tmpdic = {}
    tmpseries = selected_cols[selected_cols['modzcta'] == modzcta]
    tmpdic['modzcta'] = modzcta
    tmpdic['perc'] = tmpseries['households no internet'].sum() / tmpseries['Total households'].sum()
    merged = merged.append(tmpdic, ignore_index=True)
merged

     modzcta      perc
0    10473.0  0.205641
1    10454.0  0.330787
2    10455.0  0.276181
3    10472.0  0.257344
4    10451.0  0.276997
..       ...       ...
172  10312.0  0.101062
173  10314.0  0.119923
174  10307.0  0.115211
175  10309.0  0.118634
176  10303.0  0.218108

[177 rows x 2 columns]

In [41]:
merged.to_csv('../datas/2-InternetMerged.csv', index=False)