# rank the info and phys part

In [46]:
import pandas

In [47]:
info = pandas.read_csv('../datas/2-InternetMerged.csv')
phys = pandas.read_csv('../datas/05-physical/medical-facilities-dist.csv')

In [48]:
info.head()

   modzcta      perc  no highschool  highschool   college
0    10473  0.205641       0.186111    0.535966  0.277922
1    10454  0.330787       0.241479    0.578220  0.180301
2    10455  0.276181       0.414125    0.499723  0.086152
3    10472  0.257344       0.366078    0.496865  0.137058
4    10451  0.276997       0.373730    0.502283  0.123987

In [49]:
phys.head()

,modzcta,community-healthcare-centers,diagnostic-treatment-centers,long-term-care-facilities,hospitals,avg
0,10001,2859.212963,4244.158636,4244.158636,7323.623171,4667.788351
1,10002,1030.894027,325.521726,325.521726,4099.114902,1445.263095
2,10003,899.585186,2079.090836,2079.090836,5328.927916,2596.673694
3,10004,2460.496569,2371.392258,2371.392258,5960.186070,3290.866789
4,10005,2045.259225,1942.271324,1942.271324,5638.462696,2892.066142

In [50]:
phys[phys['modzcta'] == 99999]

,modzcta,community-healthcare-centers,diagnostic-treatment-centers,long-term-care-facilities,hospitals,avg
177,99999,471.722055,3515.640188,4088.83325,1162.019306,2309.5537

In [51]:
phys.drop([177], inplace=True)

In [52]:
phys.shape

(177, 6)

In [53]:
phys.drop(columns=['avg'], inplace=True)
phys.shape

(177, 5)

In [54]:
phys.iloc[0][['community-healthcare-centers','diagnostic-treatment-centers','long-term-care-facilities','hospitals']].min()

2859.212962559317

In [55]:
phys['mindist'] = 0.0
for index, row in phys.iterrows():
    mindist = row[['community-healthcare-centers','diagnostic-treatment-centers','long-term-care-facilities','hospitals']].min()
    phys.loc[index, 'mindist'] = mindist
phys.head()

,modzcta,community-healthcare-centers,diagnostic-treatment-centers,long-term-care-facilities,hospitals,mindist
0,10001,2859.212963,4244.158636,4244.158636,7323.623171,2859.212963
1,10002,1030.894027,325.521726,325.521726,4099.114902,325.521726
2,10003,899.585186,2079.090836,2079.090836,5328.927916,899.585186
3,10004,2460.496569,2371.392258,2371.392258,5960.186070,2371.392258
4,10005,2045.259225,1942.271324,1942.271324,5638.462696,1942.271324

In [56]:
phys = phys[['modzcta', 'mindist']]
phys.sort_values(by=['mindist'], inplace=True)
phys

     modzcta       mindist
143    11373    128.100127
94     11207    145.296484
33     10037    249.179902
99     11212    253.512454
111    11224    254.704805
..       ...           ...
173    11692   9451.049595
175    11694   9886.798887
174    11693   9958.602467
52     10309  10034.029252
50     10307  12999.224694

[177 rows x 2 columns]

In [57]:
phys.reset_index(drop=True, inplace=True)
phys

     modzcta       mindist
0      11373    128.100127
1      11207    145.296484
2      10037    249.179902
3      11212    253.512454
4      11224    254.704805
..       ...           ...
172    11692   9451.049595
173    11694   9886.798887
174    11693   9958.602467
175    10309  10034.029252
176    10307  12999.224694

[177 rows x 2 columns]

In [58]:
phys.reset_index(drop=False, inplace=True)
phys

     index  modzcta       mindist
0        0    11373    128.100127
1        1    11207    145.296484
2        2    10037    249.179902
3        3    11212    253.512454
4        4    11224    254.704805
..     ...      ...           ...
172    172    11692   9451.049595
173    173    11694   9886.798887
174    174    11693   9958.602467
175    175    10309  10034.029252
176    176    10307  12999.224694

[177 rows x 3 columns]

In [59]:
phys.rename(columns={'index':'physrnk'}, inplace=True)
phys

     physrnk  modzcta       mindist
0          0    11373    128.100127
1          1    11207    145.296484
2          2    10037    249.179902
3          3    11212    253.512454
4          4    11224    254.704805
..       ...      ...           ...
172      172    11692   9451.049595
173      173    11694   9886.798887
174      174    11693   9958.602467
175      175    10309  10034.029252
176      176    10307  12999.224694

[177 rows x 3 columns]

In [60]:
info.head()

   modzcta      perc  no highschool  highschool   college
0    10473  0.205641       0.186111    0.535966  0.277922
1    10454  0.330787       0.241479    0.578220  0.180301
2    10455  0.276181       0.414125    0.499723  0.086152
3    10472  0.257344       0.366078    0.496865  0.137058
4    10451  0.276997       0.373730    0.502283  0.123987

In [61]:
info = info[['modzcta', 'perc']]
info.sort_values(by=['perc'], inplace=True)
info.head()

     modzcta      perc
108    10282  0.000000
69     10006  0.000000
110    11109  0.010000
107    10280  0.010937
67     10005  0.013202

In [62]:
info.reset_index(drop=True, inplace=True)
info.reset_index(drop=False, inplace=True)
info

     index  modzcta      perc
0        0    10282  0.000000
1        1    10006  0.000000
2        2    11109  0.010000
3        3    10280  0.010937
4        4    10005  0.013202
..     ...      ...       ...
172    172    10460  0.294444
173    173    10035  0.299391
174    174    10454  0.330787
175    175    10002  0.340227
176    176    11219  0.342007

[177 rows x 3 columns]

In [63]:
info.rename(columns={'index':'infornk'}, inplace=True)
info

     infornk  modzcta      perc
0          0    10282  0.000000
1          1    10006  0.000000
2          2    11109  0.010000
3          3    10280  0.010937
4          4    10005  0.013202
..       ...      ...       ...
172      172    10460  0.294444
173      173    10035  0.299391
174      174    10454  0.330787
175      175    10002  0.340227
176      176    11219  0.342007

[177 rows x 3 columns]

In [64]:
phys['physrnk'] += 1
phys

     physrnk  modzcta       mindist
0          1    11373    128.100127
1          2    11207    145.296484
2          3    10037    249.179902
3          4    11212    253.512454
4          5    11224    254.704805
..       ...      ...           ...
172      173    11692   9451.049595
173      174    11694   9886.798887
174      175    11693   9958.602467
175      176    10309  10034.029252
176      177    10307  12999.224694

[177 rows x 3 columns]

In [65]:
info['infornk'] += 1

In [66]:
info

     infornk  modzcta      perc
0          1    10282  0.000000
1          2    10006  0.000000
2          3    11109  0.010000
3          4    10280  0.010937
4          5    10005  0.013202
..       ...      ...       ...
172      173    10460  0.294444
173      174    10035  0.299391
174      175    10454  0.330787
175      176    10002  0.340227
176      177    11219  0.342007

[177 rows x 3 columns]

In [67]:
final = info.join(phys.set_index('modzcta'), on='modzcta')
final

     infornk  modzcta      perc  physrnk      mindist
0          1    10282  0.000000       77  1732.685445
1          2    10006  0.000000       84  1972.741822
2          3    11109  0.010000       80  1855.948870
3          4    10280  0.010937      100  2230.114147
4          5    10005  0.013202       83  1942.271324
..       ...      ...       ...      ...          ...
172      173    10460  0.294444       52  1255.409248
173      174    10035  0.299391       13   405.073052
174      175    10454  0.330787       18   520.604711
175      176    10002  0.340227       12   325.521726
176      177    11219  0.342007      154  4690.067147

[177 rows x 5 columns]

In [68]:
final.sort_values(by=['modzcta'], inplace=True)
final

     infornk  modzcta      perc  physrnk      mindist
22        23    10001  0.088226      122  2859.212963
175      176    10002  0.340227       12   325.521726
17        18    10003  0.076624       31   899.585186
5          6    10004  0.013412      106  2371.392258
4          5    10005  0.013202       83  1942.271324
..       ...      ...       ...      ...          ...
145      146    11691  0.218807      171  8009.689690
126      127    11692  0.195215      173  9451.049595
110      111    11693  0.179829      175  9958.602467
92        93    11694  0.156592      174  9886.798887
52        53    11697  0.121378      163  5719.471378

[177 rows x 5 columns]

In [34]:
final.to_csv('../datas/7-conclusionrnks.csv', index=False)

# combine ranks with svi

In [35]:
rnks = pandas.read_csv('../datas/7-conclusionrnks.csv')
rnks

     infornk  modzcta      perc  physrnk      mindist
0         23    10001  0.088226      122  2859.212963
1        176    10002  0.340227       12   325.521726
2         18    10003  0.076624       31   899.585186
3          6    10004  0.013412      106  2371.392258
4          5    10005  0.013202       83  1942.271324
..       ...      ...       ...      ...          ...
172      146    11691  0.218807      171  8009.689690
173      127    11692  0.195215      173  9451.049595
174      111    11693  0.179829      175  9958.602467
175       93    11694  0.156592      174  9886.798887
176       53    11697  0.121378      163  5719.471378

[177 rows x 5 columns]

In [36]:
svi = pandas.read_csv('../datas/04-svi/svi-merged.csv')
svi

     modzcta    avgsvi
0      10473  0.821064
1      10454  0.975442
2      10455  0.961394
3      10472  0.956680
4      10451  0.938777
..       ...       ...
172    10312  0.233494
173    10314  0.410404
174    10307  0.215775
175    10309  0.208712
176    10303  0.694758

[177 rows x 2 columns]

In [37]:
svirnk = rnks.join(svi.set_index('modzcta'), on='modzcta')
svirnk

     infornk  modzcta      perc  physrnk      mindist    avgsvi
0         23    10001  0.088226      122  2859.212963  0.373329
1        176    10002  0.340227       12   325.521726  0.779647
2         18    10003  0.076624       31   899.585186  0.323569
3          6    10004  0.013412      106  2371.392258  0.178840
4          5    10005  0.013202       83  1942.271324  0.192400
..       ...      ...       ...      ...          ...       ...
172      146    11691  0.218807      171  8009.689690  0.906325
173      127    11692  0.195215      173  9451.049595  0.906629
174      111    11693  0.179829      175  9958.602467  0.620375
175       93    11694  0.156592      174  9886.798887  0.477767
176       53    11697  0.121378      163  5719.471378  0.246600

[177 rows x 6 columns]

In [42]:
svirnk.to_csv('../datas/8-svi_rnks.csv', index=False)

In [39]:
svirnk['infornk'] = svirnk['infornk'] / 177
svirnk

      infornk  modzcta      perc  physrnk      mindist    avgsvi
0    0.129944    10001  0.088226      122  2859.212963  0.373329
1    0.994350    10002  0.340227       12   325.521726  0.779647
2    0.101695    10003  0.076624       31   899.585186  0.323569
3    0.033898    10004  0.013412      106  2371.392258  0.178840
4    0.028249    10005  0.013202       83  1942.271324  0.192400
..        ...      ...       ...      ...          ...       ...
172  0.824859    11691  0.218807      171  8009.689690  0.906325
173  0.717514    11692  0.195215      173  9451.049595  0.906629
174  0.627119    11693  0.179829      175  9958.602467  0.620375
175  0.525424    11694  0.156592      174  9886.798887  0.477767
176  0.299435    11697  0.121378      163  5719.471378  0.246600

[177 rows x 6 columns]

In [40]:
svirnk['physrnk'] = svirnk['physrnk'] / 177

In [41]:
svirnk

      infornk  modzcta      perc   physrnk      mindist    avgsvi
0    0.129944    10001  0.088226  0.689266  2859.212963  0.373329
1    0.994350    10002  0.340227  0.067797   325.521726  0.779647
2    0.101695    10003  0.076624  0.175141   899.585186  0.323569
3    0.033898    10004  0.013412  0.598870  2371.392258  0.178840
4    0.028249    10005  0.013202  0.468927  1942.271324  0.192400
..        ...      ...       ...       ...          ...       ...
172  0.824859    11691  0.218807  0.966102  8009.689690  0.906325
173  0.717514    11692  0.195215  0.977401  9451.049595  0.906629
174  0.627119    11693  0.179829  0.988701  9958.602467  0.620375
175  0.525424    11694  0.156592  0.983051  9886.798887  0.477767
176  0.299435    11697  0.121378  0.920904  5719.471378  0.246600

[177 rows x 6 columns]

In [43]:
test = pandas.read_csv('../datas/06-cases/data-by-modzcta.csv')

In [44]:
test['COVID_DEATH_RATE'].min()

0.0

In [45]:
test['COVID_DEATH_RATE'].max()

721.84