# understading hospital POI

In [1]:
import geopandas
import pandas

In [2]:
raw = geopandas.read_file('../datas/05-physical/Points Of Interest.geojson')
raw.head()

,name,source,complexid,saftype,pri_add,modified,faci_dom,facility_t,b7_sc,placeid,bin,sos,segmentid,borough,created,geometry
0,HRD RAMP TO GWB OVER HRD SB,DCP,401,N,0,2020-03-12T00:00:00+00:00,8,6,11095502,1031153,0,1,193927,1,2018-04-12T00:00:00+00:00,POINT (-73.93149 40.84419)
1,GOETHALS,DCP,0,N,0,2020-03-16T00:00:00+00:00,8,6,59703501,19954,0,1,321726,5,2008-03-15T00:00:00+00:00,POINT (-74.19673 40.63526)
2,KOCH BR PEDESTRIAN AND BIKE PATH,DoITT,0,N,0,2020-03-16T00:00:00+00:00,8,6,19792015,1026908,0,1,138896,1,2015-10-20T00:00:00+00:00,POINT (-73.95802 40.75849)
3,KOCH BR PEDESTRIAN AND BIKE,DoITT,0,N,0,2020-03-16T00:00:00+00:00,8,6,49734017,1026909,0,1,139388,4,2015-10-20T00:00:00+00:00,POINT (-73.95062 40.75530)
4,14 AV OV BELT CROSS ISL PKWY,DCP,0,N,0,2018-04-19T00:00:00+00:00,8,6,40074101,1031297,0,2,179357,4,2018-04-13T00:00:00+00:00,POINT (-73.81678 40.78815)

In [3]:
data = pandas.read_csv('../201206_POI/POI_med.csv')
data.head()

,NAME,facility_t,lat,lng
0,SOUTH BRONX MENTAL HEALTH COUNCIL COMMUNITY ME...,10,40.807560,-73.908954
1,SUNY DOWNSTATE BAYRIDGE,10,40.615185,-74.022900
2,DAVITA SOUTH BROOKLYN NEPHROLOGY CENTER,10,40.606788,-73.923538
3,BX PSYCH CTR CNTRL SVCS BLDG,10,40.847280,-73.840016
4,MOUNT SINAI ADOLESCENT HEALTH CENTER,10,40.782397,-73.947191

In [4]:
data = pandas.read_csv('../datas/07-physical-new/NYC_Health___Hospitals_patient_care_locations_-_2011.csv')
data.shape

(78, 15)

In [5]:
data.head()

,Facility Type,Borough,Facility Name,Cross Streets,Phone,Location 1,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,Child Health Center,Brooklyn,Ida G. Israel Community Health Center,W. 22nd St. & W. 23rd St.,718-946-3400,"2201 Neptune Avenue Brooklyn, NY 11224 (40.578...",11224.0,40.578468,-73.989614,13.0,47.0,348.0,3188417.0,3.069900e+09,Seagate-Coney Island
1,Child Health Center,Queens,South Queens Community Health Center,NaN,718-883-6699,"114 02 Guy R Brewer Blvd Jamaica, NY 11434 (40...",11434.0,40.688615,-73.785593,12.0,28.0,276.0,4264631.0,4.122000e+09,Baisley Park
2,Child Health Center,Bronx,Melrose Houses Child Health Clinic,between Morris Ave. & Courtlandt Ave.,718-292-2820,"348 156th Street Bronx, NY 10451 (40.821301194...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Child Health Center,Bronx,Daniel Webster Houses Child Health Clinic,corner of Webster Ave.,718-538-2147,"401 168th Street Bronx, NY 10456 (40.832279848...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Diagnostic & Treatment Center,Bronx,Segundo Ruiz Belvis Diagnostic & Treatment Center,NaN,718-579-4000,"545 142nd Street Bronx, NY 10454 (40.810121864...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data['Facility Type'].unique()

array(['Child Health Center', 'Diagnostic & Treatment Center',
       'Acute Care Hospital', 'Nursing Home'], dtype=object)

In [14]:
teststr = data.loc[0, 'Location 1']
teststr.split('(')[-1].split(')')[0].split(', ')

['40.578488319967', '-73.989497148121']

In [15]:
data.loc[0, 'Latitude']

40.578468

In [16]:
for index, row in data.iterrows():
    data.loc[index, 'Latitude'] = row['Location 1'].split('(')[-1].split(')')[0].split(', ')[0]
    data.loc[index, 'Longitude'] = row['Location 1'].split('(')[-1].split(')')[0].split(', ')[1]
data.head()

,Facility Type,Borough,Facility Name,Cross Streets,Phone,Location 1,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,Child Health Center,Brooklyn,Ida G. Israel Community Health Center,W. 22nd St. & W. 23rd St.,718-946-3400,"2201 Neptune Avenue Brooklyn, NY 11224 (40.578...",11224.0,40.578488319967,-73.989497148121,13.0,47.0,348.0,3188417.0,3.069900e+09,Seagate-Coney Island
1,Child Health Center,Queens,South Queens Community Health Center,NaN,718-883-6699,"114 02 Guy R Brewer Blvd Jamaica, NY 11434 (40...",11434.0,40.676945262114,-73.775306901692,12.0,28.0,276.0,4264631.0,4.122000e+09,Baisley Park
2,Child Health Center,Bronx,Melrose Houses Child Health Clinic,between Morris Ave. & Courtlandt Ave.,718-292-2820,"348 156th Street Bronx, NY 10451 (40.821301194...",NaN,40.821301194646,-73.917709787212,NaN,NaN,NaN,NaN,NaN,NaN
3,Child Health Center,Bronx,Daniel Webster Houses Child Health Clinic,corner of Webster Ave.,718-538-2147,"401 168th Street Bronx, NY 10456 (40.832279848...",NaN,40.832279848967,-73.909534601874,NaN,NaN,NaN,NaN,NaN,NaN
4,Diagnostic & Treatment Center,Bronx,Segundo Ruiz Belvis Diagnostic & Treatment Center,NaN,718-579-4000,"545 142nd Street Bronx, NY 10454 (40.810121864...",NaN,40.810121864043,-73.916811846348,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_sel = data[['Facility Type', 'Facility Name', 'Location 1', 'Latitude', 'Longitude', 'Borough']]
data_sel.head()

,Facility Type,Facility Name,Location 1,Latitude,Longitude,Borough
0,Child Health Center,Ida G. Israel Community Health Center,"2201 Neptune Avenue Brooklyn, NY 11224 (40.578...",40.578488319967,-73.989497148121,Brooklyn
1,Child Health Center,South Queens Community Health Center,"114 02 Guy R Brewer Blvd Jamaica, NY 11434 (40...",40.676945262114,-73.775306901692,Queens
2,Child Health Center,Melrose Houses Child Health Clinic,"348 156th Street Bronx, NY 10451 (40.821301194...",40.821301194646,-73.917709787212,Bronx
3,Child Health Center,Daniel Webster Houses Child Health Clinic,"401 168th Street Bronx, NY 10456 (40.832279848...",40.832279848967,-73.909534601874,Bronx
4,Diagnostic & Treatment Center,Segundo Ruiz Belvis Diagnostic & Treatment Center,"545 142nd Street Bronx, NY 10454 (40.810121864...",40.810121864043,-73.916811846348,Bronx

In [18]:
data_sel.rename(columns={'Facility Type': 'CLASS', 'Facility Name': 'NAME', 'Location 1': 'ADDRESS', 'Latitude': 'lat', 'Longitude': 'lng', 'Borough': 'DISTRICT'}, inplace=True)
data_sel.head()

,CLASS,NAME,ADDRESS,lat,lng,DISTRICT
0,Child Health Center,Ida G. Israel Community Health Center,"2201 Neptune Avenue Brooklyn, NY 11224 (40.578...",40.578488319967,-73.989497148121,Brooklyn
1,Child Health Center,South Queens Community Health Center,"114 02 Guy R Brewer Blvd Jamaica, NY 11434 (40...",40.676945262114,-73.775306901692,Queens
2,Child Health Center,Melrose Houses Child Health Clinic,"348 156th Street Bronx, NY 10451 (40.821301194...",40.821301194646,-73.917709787212,Bronx
3,Child Health Center,Daniel Webster Houses Child Health Clinic,"401 168th Street Bronx, NY 10456 (40.832279848...",40.832279848967,-73.909534601874,Bronx
4,Diagnostic & Treatment Center,Segundo Ruiz Belvis Diagnostic & Treatment Center,"545 142nd Street Bronx, NY 10454 (40.810121864...",40.810121864043,-73.916811846348,Bronx

In [19]:
data_sel.shape

(78, 6)

In [21]:
data_sel.to_csv('../datas/07-physical-new/medical-loc.csv', index=False)

In [22]:
data_sel.dtypes

CLASS       object
NAME        object
ADDRESS     object
lat         object
lng         object
DISTRICT    object
dtype: object

In [24]:
data_sel = data_sel.astype({'lat': 'float64', 'lng': 'float64'})
data_sel.dtypes

CLASS        object
NAME         object
ADDRESS      object
lat         float64
lng         float64
DISTRICT     object
dtype: object

In [25]:
data_sel.to_csv('../datas/07-physical-new/medical-loc.csv', index=False)

In [26]:
test = pandas.read_csv('../datas/07-physical-new/medical-loc.csv')
test.dtypes

CLASS        object
NAME         object
ADDRESS      object
lat         float64
lng         float64
DISTRICT     object
dtype: object

# distance calculation

In [27]:
geodata = geopandas.read_file('../datas/00-tractTOzcta/Modified Zip Code Tabulation Areas (MODZCTA).geojson')
geodata.head()

,label,modzcta,pop_est,zcta,geometry
0,"10001, 10118",10001,23072,"10001, 10119, 10199","MULTIPOLYGON (((-73.98774 40.74407, -73.98819 ..."
1,10002,10002,74993,10002,"MULTIPOLYGON (((-73.99750 40.71407, -73.99709 ..."
2,10003,10003,54682,10003,"MULTIPOLYGON (((-73.98864 40.72293, -73.98876 ..."
3,10004,10004,3028,10004,"MULTIPOLYGON (((-74.00827 40.70772, -74.00937 ..."
4,10005,10005,8831,"10005, 10271","MULTIPOLYGON (((-74.00783 40.70309, -74.00786 ..."

In [28]:
geodata['centroid'] = geodata['geometry'].centroid
geodata.head()

,label,modzcta,pop_est,zcta,geometry,centroid
0,"10001, 10118",10001,23072,"10001, 10119, 10199","MULTIPOLYGON (((-73.98774 40.74407, -73.98819 ...",POINT (-73.99714 40.75069)
1,10002,10002,74993,10002,"MULTIPOLYGON (((-73.99750 40.71407, -73.99709 ...",POINT (-73.98617 40.71578)
2,10003,10003,54682,10003,"MULTIPOLYGON (((-73.98864 40.72293, -73.98876 ...",POINT (-73.98916 40.73183)
3,10004,10004,3028,10004,"MULTIPOLYGON (((-74.00827 40.70772, -74.00937 ...",POINT (-74.01303 40.70375)
4,10005,10005,8831,"10005, 10271","MULTIPOLYGON (((-74.00783 40.70309, -74.00786 ...",POINT (-74.00887 40.70610)

In [29]:
import geopy.distance

In [30]:
for kind in data_sel['CLASS'].unique():
    geodata[kind] = 0.0
geodata.head()

,label,modzcta,pop_est,zcta,geometry,centroid,Child Health Center,Diagnostic & Treatment Center,Acute Care Hospital,Nursing Home
0,"10001, 10118",10001,23072,"10001, 10119, 10199","MULTIPOLYGON (((-73.98774 40.74407, -73.98819 ...",POINT (-73.99714 40.75069),0.0,0.0,0.0,0.0
1,10002,10002,74993,10002,"MULTIPOLYGON (((-73.99750 40.71407, -73.99709 ...",POINT (-73.98617 40.71578),0.0,0.0,0.0,0.0
2,10003,10003,54682,10003,"MULTIPOLYGON (((-73.98864 40.72293, -73.98876 ...",POINT (-73.98916 40.73183),0.0,0.0,0.0,0.0
3,10004,10004,3028,10004,"MULTIPOLYGON (((-74.00827 40.70772, -74.00937 ...",POINT (-74.01303 40.70375),0.0,0.0,0.0,0.0
4,10005,10005,8831,"10005, 10271","MULTIPOLYGON (((-74.00783 40.70309, -74.00786 ...",POINT (-74.00887 40.70610),0.0,0.0,0.0,0.0

In [31]:
geodata.loc[0, 'centroid'].x

-73.99713787189704

In [32]:
geodata['lat'] = geodata['centroid'].y
geodata['lng'] = geodata['centroid'].x
geodata.head()

,label,modzcta,pop_est,zcta,geometry,centroid,Child Health Center,Diagnostic & Treatment Center,Acute Care Hospital,Nursing Home,lat,lng
0,"10001, 10118",10001,23072,"10001, 10119, 10199","MULTIPOLYGON (((-73.98774 40.74407, -73.98819 ...",POINT (-73.99714 40.75069),0.0,0.0,0.0,0.0,40.750688,-73.997138
1,10002,10002,74993,10002,"MULTIPOLYGON (((-73.99750 40.71407, -73.99709 ...",POINT (-73.98617 40.71578),0.0,0.0,0.0,0.0,40.715780,-73.986174
2,10003,10003,54682,10003,"MULTIPOLYGON (((-73.98864 40.72293, -73.98876 ...",POINT (-73.98916 40.73183),0.0,0.0,0.0,0.0,40.731826,-73.989159
3,10004,10004,3028,10004,"MULTIPOLYGON (((-74.00827 40.70772, -74.00937 ...",POINT (-74.01303 40.70375),0.0,0.0,0.0,0.0,40.703747,-74.013032
4,10005,10005,8831,"10005, 10271","MULTIPOLYGON (((-74.00783 40.70309, -74.00786 ...",POINT (-74.00887 40.70610),0.0,0.0,0.0,0.0,40.706100,-74.008870

In [33]:
for index, row in geodata.iterrows():
    for kind in data_sel['CLASS'].unique():
        dists = []
        tmp = data_sel[data_sel['CLASS'] == kind]
        for i, r in tmp.iterrows():
            dists.append(geopy.distance.geodesic((r['lat'], r['lng']), (row['lat'], row['lng'])).meters)
        geodata.loc[index, kind] = min(dists)
geodata.head()

,label,modzcta,pop_est,zcta,geometry,centroid,Child Health Center,Diagnostic & Treatment Center,Acute Care Hospital,Nursing Home,lat,lng
0,"10001, 10118",10001,23072,"10001, 10119, 10199","MULTIPOLYGON (((-73.98774 40.74407, -73.98819 ...",POINT (-73.99714 40.75069),2127.586765,4279.396073,2127.586765,4173.270211,40.750688,-73.997138
1,10002,10002,74993,10002,"MULTIPOLYGON (((-73.99750 40.71407, -73.99709 ...",POINT (-73.98617 40.71578),347.843275,347.843275,2769.181559,347.843275,40.715780,-73.986174
2,10003,10003,54682,10003,"MULTIPOLYGON (((-73.98864 40.72293, -73.98876 ...",POINT (-73.98916 40.73183),829.635901,2112.383868,1371.140909,2112.383868,40.731826,-73.989159
3,10004,10004,3028,10004,"MULTIPOLYGON (((-74.00827 40.70772, -74.00937 ...",POINT (-74.01303 40.70375),1595.998236,2374.707146,5035.970053,2374.707146,40.703747,-74.013032
4,10005,10005,8831,"10005, 10271","MULTIPOLYGON (((-74.00783 40.70309, -74.00786 ...",POINT (-74.00887 40.70610),1158.106371,1947.186133,4615.651015,1947.186133,40.706100,-74.008870

In [34]:
geo_sel = geodata[['modzcta'] + data_sel['CLASS'].unique().tolist()]
geo_sel

,modzcta,Child Health Center,Diagnostic & Treatment Center,Acute Care Hospital,Nursing Home
0,10001,2127.586765,4279.396073,2127.586765,4173.270211
1,10002,347.843275,347.843275,2769.181559,347.843275
2,10003,829.635901,2112.383868,1371.140909,2112.383868
3,10004,1595.998236,2374.707146,5035.970053,2374.707146
4,10005,1158.106371,1947.186133,4615.651015,1947.186133
...,...,...,...,...,...
173,11692,9228.797828,12378.533676,13361.078865,14548.669328
174,11693,9599.731907,10695.707026,12670.235781,12580.179662
175,11694,8848.240451,11321.351409,10317.015143,12196.187302
176,11697,5641.733786,12577.620436,5833.295459,11547.921409
177,99999,463.683827,3479.095615,1014.088769,4066.769067

In [35]:
geo_sel['avg'] = (geo_sel['Child Health Center'] + geo_sel['Diagnostic & Treatment Center'] + geo_sel['Acute Care Hospital'] + geo_sel['Nursing Home']) / 4
geo_sel

,modzcta,Child Health Center,Diagnostic & Treatment Center,Acute Care Hospital,Nursing Home,avg
0,10001,2127.586765,4279.396073,2127.586765,4173.270211,3176.959954
1,10002,347.843275,347.843275,2769.181559,347.843275,953.177846
2,10003,829.635901,2112.383868,1371.140909,2112.383868,1606.386137
3,10004,1595.998236,2374.707146,5035.970053,2374.707146,2845.345645
4,10005,1158.106371,1947.186133,4615.651015,1947.186133,2417.032413
...,...,...,...,...,...,...
173,11692,9228.797828,12378.533676,13361.078865,14548.669328,12379.269924
174,11693,9599.731907,10695.707026,12670.235781,12580.179662,11386.463594
175,11694,8848.240451,11321.351409,10317.015143,12196.187302,10670.698576
176,11697,5641.733786,12577.620436,5833.295459,11547.921409,8900.142773
177,99999,463.683827,3479.095615,1014.088769,4066.769067,2255.909320

In [38]:
geo_sel = geo_sel.astype({'modzcta': 'int64'})
geo_sel.dtypes

modzcta                            int64
Child Health Center              float64
Diagnostic & Treatment Center    float64
Acute Care Hospital              float64
Nursing Home                     float64
avg                              float64
dtype: object

In [39]:
geo_sel.to_csv('../datas/07-physical-new/medical-dist.csv', index=False)

In [40]:
geo_sel['Child Health Center'].max()

14861.51205180164

In [41]:
geo_sel['Diagnostic & Treatment Center'].max()

30478.930609291754

In [42]:
geo_sel['Acute Care Hospital'].max()

24766.8406925235

In [43]:
geo_sel['Nursing Home'].max()

20249.516602029933

In [44]:
geo_sel['avg'].min()

953.1778456787914

In [45]:
geo_sel['avg'].max()

20912.30989159827